 /* add new project page styles */

 * {
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

.header {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}

form {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type=text],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 3px;
    resize: none;
}

input[type=submit] {
    background-color: #00628B;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type=submit]:hover {
    background-color: #00628B;
}

