body{
    margin: 0;
}
.main-div{
    background-color: #00628B;  
    margin: 0;
}
.container-fluid{
    padding: 3% 15% 3%;
}
.navigation{
    background-color: #00628B;
    align-items: center;
}
.logo-pic{
    margin-left: 4%;
}
.nav-lists{
    margin-right: 12%;
}
#btnNightDay{
    margin-left: 8px;
    padding: 0 8px 0 8px;
    font-size: 2rem;
    border: 0;
    border-radius: 15%;
}
#profile-pic{
    border-radius: 160px 140px 80px 140px;
    width: 45%;
    margin: 10% 10% 10% 45%;   
}
.name{
    font-size: 3.8rem;
    display: block;
    color: #fff;
}
.intro-text{
    color: #fff;
    margin-top: 15%;
    font-size: 1.5rem;
}
.intro-text-item{
    margin-top: 15%;
}
svg{
    display: block;
    margin: 0;
}
.about-page{
    background-color: #E6E6DC;
    padding: 7% 15%;
}
#about-title{
    font-size: 2.5rem;
    margin-bottom: 6%;
    margin-left: 40%;
    padding-bottom: 4%;
    
}
.gif-image{
    width: 100%;
    margin: 5% ;
    border-radius: 8% 0 0 28%;
}
.about-text{
    line-height: 1.5;
    margin-left: 4%;
    font-size: 1.5rem;
}
.about-text-intro{
    display: block;
    font-weight: bold;
}
.about-text-intro-name{
    color: #00628B;

}
.btn-download-cv{
    margin-left: 4%;
    margin-top: 5%;
    /* background-color: #00628B; */
}
.btn-download-cv:hover{
    background-color: #00618bcb;
}
.contact-page{
    background-color: #E6E6DC;
    padding: 7% 15%;
}
#contact-title{
    font-size: 2.5rem;
    margin-bottom: 6%;
    margin-left: 40%;
    padding-bottom: 4%;
}
.cont-methods{
    display: inline;
    color: black;
    text-decoration: underline;
}
.cont-methods:hover{
    color: #00628B;
}
.cont-link{
    font-size: 1.5rem;
    color: #00628B;
}
.cont-address{
    color: #00628B;
}
.btn-send, .btn-reset{
    background-color: #00628B;
    color: #fff;
    margin-top: 10px;
}
.btn-send:hover{
    background-color: #00618bcb;
}
#cprt-text{
    color: #fff;
    margin-top: 3%;
    padding-left: 85%;    
}

.dark1{
    background-color: #100F0F;
    color: #F1F1F1;
    fill: #100F0F;
}
.dark2{
    background-color: #0F3D3E;
    color: #F1F1F1;
    fill: #0F3D3E;
}
.dark-item1{
    color: #F1F1F1;
}
.dark-item2{
    color: #0F3D3E;
}

/* projects-page styles */
.card {
    width: 300px;
    height: 550px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.3s ease-in-out;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  }
  
  .card .card-body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .card .card-header {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .card .card-title {
    margin: 0;
  }
  
  .card .card-image img {
    width: 100%;
    height: 150px;
    border-radius: 10px;
    margin-bottom: 10px;
    object-fit: cover;
  }
  
  .card .card-description {
    margin: 10px 0;
    text-align: center;
    color: #f1f1f1;
    font-size: 16px;
  }
  
  .card .card-buttons {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0;
    padding: 0 20px;
  }
  
  .card .btn-primary,
  .card .btn-secondary {
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.5);
    color: #f1f1f1;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
  }
  
  .card .btn-primary:hover,
  .card .btn-secondary:hover {
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid rgba(255, 255, 255, 0.8);
    color: #333;
  }


@media (max-width: 992px)
{

    #profile-pic{
        border-radius: 100%;
        width: 24%;
        margin: 4% 38% 2% 38%; 
    }
    .intro-text{
        margin-top: 40px;
        
    }  
    .intro-text-item{
        margin-top: 2%;
        margin-left: 10%;
    }
}
@media (max-width: 544px)
{
    #profile-pic{
        width: 34%;
        margin: 4% 33% 2% 33%; 
    }
    .name{
        font-size: 2.4rem;
    }
    #about-title{
        font-size: 2rem;
        margin-left: 30%;
        margin-top: 40px;
    }
    #contact-title{
        font-size: 2rem;
        margin-left: 25%;
        margin-top: 40px;
    }
    #cprt-text{
        padding-left: 75%;
    }

}

